/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,*::before,*::after{box-sizing:border-box}*{margin:0}html,body{height:100%}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}#root,#__next{isolation:isolate}

body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,noto sans,Ubuntu,Cantarell,helvetica neue,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  font-size: xx-large;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 50%;
  list-style: none;
  text-align: center;
  margin: 0 auto;
}

figure {
  margin: auto;
}

img {
  object-fit: contain;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 3em;
  line-height: 3em;
	background-color: #ccc;
	color: #000;
	font-weight: bold;
	display: block;
	padding: 5px;
	text-align: center;
	text-decoration: none;
}